<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom-Equipe</th> <th>Pays</th> <th>Date Match</th><th>Legue</th><th>image</th> </tr>
    <tbody *ngFor="let equipe of equipe">
    <tr >
    <td>{{equipe.idEquipe}}</td>
    <td>{{equipe.nomEquipe}}</td>
    <td>{{equipe.paysEquipe}}</td>
    
    <td>{{equipe.dateFound | date:'dd/MM/yyyy'}}</td>
    <td>{{equipe.league.nomLeague}}</td>
    <td><img class="card-img-top img-responsive"
        src = "{{equipe.imageStr}}"
        style = "height :50px;width:100px">
        </td>
        
    <td><a class="btn btn-danger" *ngIf="authService.isAdmin()" (click)="supprimerequipe(equipe)">Supprimer</a></td>
    <td><a class="btn btn-success" *ngIf="authService.isAdmin()" [routerLink]="['/update-equipe',equipe.idEquipe]">Modifier</a></td>
    </tr>
    </tbody>
    
    </table>
    </div>
    </div>
    </div>