<div class="container">
    <div>
    <h2>Ajouter une equipe :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID d'equipe</label>
        <input type="text" [(ngModel)]="newEquipe.idEquipe"
        name="id" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom d'equipe</label>
        <input type="text"[(ngModel)]= "newEquipe.nomEquipe"
        name="nom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >pays of equipe</label>
            <input type="text"[(ngModel)]= "newEquipe.paysEquipe"
            name="nom" class="form-control">
            </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date-match</label>
        <input type="date" [(ngModel)]= "newEquipe.dateFound"
        name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Leagues</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat"
            [(ngModel)]="newid">
            <option *ngFor="let cat of league" [value]="cat.idLeg" >
            {{cat.nomLeague}}
            </option>
            </select>
            </div>
            <div class="col-sm-16 col-md-16 col-lg-16">
                <label class="mb-2">Image :</label>
                <input type="file" (change)="onImageUpload($event)"
                name="logo" class="form-control">
                </div>
                <div class="col-sm-16 col-md-16 col-lg-16">
                    <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
                    style="width: 500px; height: 300px" />
                    </div>
                    
        <div class="mt-2">
        <button type="submit" (click)="addEquipe()"class="btn btn-success" >Ajouter</button>
        </div>
        </form>
        
        </div>